# Visual Crossing API Key (Get one at https://www.visualcrossing.com/weather-api)
VISUAL_CROSSING_API_KEY=8W7VGC83WMZU9D9YJB7JK8P2Y

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_EXPIRE_SECONDS=1800
